form {
    width: 40vw;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.input {
    width: 30%;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 2px solid green;
    border-radius: 10px;
}

/* Para acceder a los elementos de la clase input, cuyo atributo type sea
    del tipo password: */
.input[type="password"] {
    color: red;
    outline: none;
}

/* INPUT "MODERNO" */

.input-moderno {
    border: none;
    border-bottom: 1px solid #c2c2c2;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    color: #5f5f5f;
}

.input-moderno::placeholder{
    color: #c2c2c2;
}

.input-moderno:focus{
    border-bottom: 1px solid #5f5f5f;
}

/* CAMBIAR EL BACKGROUND */

.input-background {
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 0 10px #ccc;
}

.input-background::placeholder{
    color: #777;
}

.input-search {
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background-color: #eee;
    background-image: url('./img/searchicon.png');
    background-size: 20px; /* tamaño de la imagen añadida */
    background-repeat: no-repeat; /* para que la imagen no se repita rellenando los huecos */
    background-position: 5px; /* distancia hacia la derecha */
}

textarea {
    resize: both;
    /* both: permite modificar su tamaño en horizontal y vertical
        horizontal: permite redimensionarlo solo de forma horizontal
        vertical: permite redimensionarlo solo de forma vertical
        none (por defecto): no permite redimensionarlo */
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 15px;
    background-color: #ccc;
}